/* ---------------------------- Translucent Style ---------------------------- */

:root#main-window,
:root:not(:-moz-window-inactive) #navigator-toolbox {
 background-color: transparent !important; 
}

#titlebar,
#nav-bar,
#PersonalToolbar
{
  background-color: transparent !important;
  -moz-default-appearance: menupopup !important;
  appearance: auto !important;
}

/* ---------------------------- URL Bar ---------------------------- */

/* Spotlight URL Bar */
#urlbar[breakout][breakout-extend] {
  top: 50vh !important;
  left: 50% !important;
  width: 50vw !important;
  transform: translateX(-50%) translateY(-50%);
  min-height: 40vh !important;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56) !important;
  border-radius: 1.5rem !important;
}

.urlbarView{
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  min-height: 35vh !important;
}

/* URL Bar Background Color */
#urlbar-background{
  background-color: rgba(28, 27, 34, .8) !important;
  border-radius: 1.5rem !important;
}

#urlbar:is([focused="true"], [open]) > #urlbar-background,
#searchbar:focus-within {
  background-color: rgba(28, 27, 34, .96) !important;
}


/* URL Bar Focus Border */
#urlbar[focused="true"]:not([suppress-focus-border]) > #urlbar-background, #searchbar:focus-within {
  outline-color: #0250bb !important;
}

/* ---------------------------- Tabs ---------------------------- */

/* Background Color for hovered tabs */
#TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon,
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected], [multiselected]){
  background-color: rgba(28, 27, 34, .8) !important;
}

/* Colored border for selected tabs */
.tab-background[selected]{
  background-color: rgb(28, 27, 34) !important;
  outline: none !important;
  border: 1px solid transparent !important;
  box-shadow: none !important;
  background-clip: padding-box;
}

.tab-background[selected] > .tab-context-line{
  margin: -5px 0 0 !important;
}

.tabbrowser-tab[selected] > .tab-stack::before{
  content: "";
  display: flex;
  min-height: inherit;
  border-radius: var(--tab-border-radius);
  grid-area: 1/1;
  margin-block: var(--tab-block-margin);
  /* Edit gradient colors here */
  background: repeat linear-gradient(90deg, #6e008b, #ff4f5e) !important;
}

/* ---------------------------- Tab Bar ---------------------------- */

/* Minimize space before and after tabs */
.titlebar-spacer[type="pre-tabs"]{
    width: 12px !important;
}

.titlebar-spacer[type="post-tabs"]{
  width: 4px !important;
}